<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>镜花缘相亲平台</title>
</head>
<body>
	<div class="area">

		<div class="new-jycm-head-showCity" id="jycm_head_showCity"
			style="display: block;">
			<a href="javascript:;" class="new-jycm-city-close" id="closepop"></a>
			<dl>
				<dt>
					<span>华 北：</span>
				</dt>
				<dd>
					<p>
						<span class="new-citylist" id="a11"> 北京市 </span> <span
							class="new-citylist" id="a12"> 天津市 </span> <span
							class="new-citylist" id="a13"> 河北 </span> <span
							class="new-citylist" id="a14"> 山西 </span> <span
							class="new-citylist" id="a15"> 内蒙古 </span>
					</p>
				</dd>
			</dl>
			<dl>
				<dt>
					<span>东 北：</span>
				</dt>
				<dd>
					<p>
						<span class="new-citylist" id="a23"> 黑龙江 </span> <span
							class="new-citylist" id="a22"> 吉林 </span> <span
							class="new-citylist" id="a21"> 辽宁 </span>
					</p>
				</dd>
			</dl>
			<dl>
				<dt>
					<span>华 东：</span>
				</dt>
				<dd>
					<p>
						<span class="new-citylist" id="a31"> 上海市 </span> <span
							class="new-citylist red" id="a32"> 江苏 </span> <span
							class="new-citylist" id="a33"> 浙江 </span><span
							class="new-citylist" id="a34">安徽</span><span class="new-citylist"
							id="a35">福建</span><span class="new-citylist" id="a36">江西</span><span
							class="new-citylist" id="a37">山东</span>
					</p>
				</dd>
			</dl>
			<dl>
				<dt>
					<span>中 南：</span>
				</dt>
				<dd>
					<p>
						<span class="new-citylist" id="a41">河南</span><span
							class="new-citylist" id="a42">湖北</span><span class="new-citylist"
							id="a43">湖南</span><span class="new-citylist" id="a44">广东</span><span
							class="new-citylist" id="a45">广西</span><span class="new-citylist"
							id="a46">海南</span>
					</p>
				</dd>
			</dl>
			<dl>
				<dt>
					<span>西 南：</span>
				</dt>
				<dd>
					<p>
						<span class="new-citylist" id="a50">重庆市</span><span
							class="new-citylist" id="a51">四川</span><span class="new-citylist"
							id="a52">贵州</span><span class="new-citylist" id="a53">云南</span><span
							class="new-citylist" id="a54">西藏</span>
					</p>
				</dd>
			</dl>
			<dl>
				<dt>
					<span>西 北：</span>
				</dt>
				<dd>
					<p>
						<span class="new-citylist" id="a61">陕西</span><span
							class="new-citylist" id="a62">甘肃</span><span class="new-citylist"
							id="a63">青海</span><span class="new-citylist" id="a64">宁夏</span><span
							class="new-citylist" id="a65">新疆</span>
					</p>
				</dd>
			</dl>
			<dl>
				<dt>
					<span>港澳台：</span>
				</dt>
				<dd>
					<p>
						<span class="new-citylist" id="a81">香港</span><span
							class="new-citylist" id="a82">澳门</span><span class="new-citylist"
							id="a71">台湾</span>
					</p>
				</dd>
			</dl>
			<dl>
				<dt>
					<span>国 外：</span>
				</dt>
				<dd>
					<p>
						<span class="new-citylist" id="a99">国外</span>
					</p>
				</dd>
			</dl>
		</div>

	</div>
	<div class="top">
	<ul>
		<li> <a href="{:url('user/register')}">用户注册</a> </li>
		<li> <a href="{:url('user/login')}">用户登陆</a> </li>
		<li> <a href="{:url('user/index')}">用户中心</a> </li>
	</ul>
	</div>
</body>
</html>